@import "./index.scss";

.header-container {
  display: flex;
  font-family: $secondary-font;
  padding: 2rem 0rem;
  letter-spacing: 5px;
  justify-content: center; /* Center the h1 horizontally */
  align-items: center; /* Center the h1 vertically if needed */
  width: 100%; /* Ensure the container takes the full width */
  margin-bottom: 5rem;
}

.header-title {
  margin: 0; /* Remove default margin */
  font-size: 2em; /* Adjust font size as needed */
}
